<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.CensusMapper">

    <select id="getAllCensus" resultType="org.sang.bean.Census">
        select distinct l.aid,l.likes,a.title,c.cateName from
        likes as l left join
        article as a
        on a.id=l.aid
        left join category as c
        on c.id=a.cid
        <!--        select sum(l.likes) as likesNum,c.cateName from category as c-->
        <!--        left join-->
        <!--        article as a-->
        <!--        on a.cid=c.id-->
        <!--        left join-->
        <!--        likes as l-->
        <!--        on a.id=l.aid-->
        <!--        group by c.cateName-->
    </select>

</mapper>