<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.NoticeMapper">

    <insert id="addNewNotice" parameterType="org.sang.bean.Notice" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO notice SET title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},publishDate=#{publishDate},message=#{message},uid=#{uid},state=#{state},news=#{news}
    </insert>

    <update id="updateNotice" parameterType="org.sang.bean.Notice">
        UPDATE notice SET
        title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},message=#{message}
        <if test='news=="是"'>
            ,news=#{news}
        </if>
        <if test="state==1">
            ,state=1
        </if>
        <if test="publishDate!=null">
            ,publishDate=#{publishDate}
        </if>
        WHERE id=#{id}
    </update>

    <update id="updateNews" parameterType="org.sang.bean.Notice">
      UPDATE notice SET news="否"
    </update>

    <select id="getNoticeByState" resultType="org.sang.bean.Notice">
        SELECT n.id,n.title,n.`message`,n.`publishDate`,n.`state`,u.`nickname`,n.uid,n.`news` FROM notice AS n,USER AS
        u WHERE n.`uid`=u.`id`
        <if test="state!=-2">
            and n.uid=#{uid}
        </if>
        <if test="state!=-1 and state!=-2">
            and n.state=#{state}
        </if>
        <if test="state==-2">
            and n.state=1
        </if>
        <if test="keywords!=null">
            AND message LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY n.publishDate DESC limit #{start},#{count};
    </select>

    <select id="getNoticeByStateByAdmin" resultType="org.sang.bean.Notice">
        SELECT n.id,n.`message`,n.`publishDate`,n.`state`,u.`nickname`,n.uid,n.`news` FROM notice AS n,USER AS u WHERE
        n.`uid`=u.`id` AND n.state=1
        <if test="keywords!=null">
            AND message LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY n.publishDate DESC limit #{start},#{count};
    </select>

    <select id="getNoticeCountByState" resultType="int">
        SELECT count(*) FROM notice
        <where>
            <if test="state!=-1">
                AND state=#{state}
            </if>
            <if test="uid!=null">
                AND uid=#{uid}
            </if>
            <if test="keywords!=null">
                AND message LIKE concat('%',#{keywords},'%')
            </if>
        </where>
    </select>

    <update id="updateNoticeState">
        UPDATE notice SET state=#{state} WHERE id IN
        <foreach collection="aids" item="aid" separator="," open="(" close=")">
            #{aid}
        </foreach>
    </update>

    <update id="updateNoticeStateById">
        UPDATE notice SET state=#{state} WHERE id = #{noticeId}
    </update>

    <delete id="deleteNoticeById">
        DELETE FROM notice WHERE id IN
        <foreach collection="aids" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>

    <select id="getNoticeById" parameterType="Long" resultMap="BaseResultMap">
         SELECT n.id,n.message,n.`title`,n.`mdContent`,n.`htmlContent`,n.publishDate,u.nickname,n.state,n.`news`
 FROM notice AS n,USER AS u WHERE n.uid=u.id AND n.id=#{aid}
    </select>

    <select id="show" resultMap="BaseResultMap">
        SELECT id,message,publishDate,state FROM notice WHERE uid=#{uid} AND news=#{news}
    </select>

    <select id="sys" resultMap="BaseResultMap">
SELECT n.id,n.`title`,n.`htmlContent`,n.message,n.publishDate,n.state,n.news FROM notice n WHERE  n.news=#{news} AND
        uid IN (SELECT u.id FROM USER u,roles_user ru ,roles r WHERE ru.rid=r.id AND r.name="超级管理员" AND ru.uid=u.id)
         </select>

    <resultMap id="BaseResultMap" type="org.sang.bean.Notice">
        <id column="id" property="id"/>
        <result column="message" property="message"/>
        <result column="title" property="title"/>
        <result column="news" property="news"/>
        <result column="htmlContent" property="htmlContent"/>
        <result column="uid" property="uid"/>
        <result column="publishDate" property="publishDate"/>
        <result column="state" property="state"/>
        <result column="nickname" property="nickname"/>
    </resultMap>
</mapper>


